<!-- File: chapter6/public/http-post-example.html -->
<html ng-app="notesApp">

<head>
  <title>AWS Serverless</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
  <style>
    .item {
      padding: 10px;
    }
  </style>
</head>

<body ng-controller="MainCtrl as mainCtrl">
  <div class="container">
    <h1 class="display-3 text-center">Hello Readers!</h1>
    <br>
    <div>
      <form name="addForm" ng-submit="mainCtrl.add()">
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-3">
            <label>Book Name : </label>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" style="width: 500px;" placeholder="Label" ng-model="mainCtrl.newTodo.name" required>
          </div>
          <div class="col-md-3">

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-3">
            <label>Book Author : </label>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" style="width: 500px;" placeholder="Author" ng-model="mainCtrl.newTodo.author" required>
          </div>
          <div class="col-md-3">

          </div>

          <input type="submit" (click)="mainCtrl.add()" class="form-control" value="Insert Book">
        </div>
      </form>
    </div>
    <ul ng-repeat="todo in mainCtrl.items" class="list-group">
      <li class="list-group-item disabled">{{todo.name}} by {{todo.author}}</li>
    </ul>
  </div>
  <h1></h1>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
  </script>
  <script>
    angular.module('notesApp', [])
      .controller('MainCtrl', ['$http', function ($http) {
        var self = this;
        self.items = [];
        self.newTodo = {};
        var fetchTodos = function () {
          return $http.get('https://kun38kuxb4.execute-api.us-east-1.amazonaws.com/prod/crud-api/?TableName=crud')
            .then(
              function (response) {
                self.items = response.data.Items;
                console.log(response.data.Items[0]);
              },
              function (errResponse) {
                console.error('Error while fetching notes' + errResponse);
              });
        };

        fetchTodos();

        self.add = function () {
          var random = Math.floor(Math.random() * 20);
          var name = self.newTodo.name;
          var author = self.newTodo.author;
          var posting = {
            "TableName": "crud",
            "Item": {
              "id": escape(random),
              "name": escape(name),
              "author": escape(author)
            }
          };

          var config = {
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
            }
          }
          console.log(posting);
          $http.post('https://kun38kuxb4.execute-api.us-east-1.amazonaws.com/prod/crud-api', posting, config)
            .then(fetchTodos)
        };

      }]);
  </script>
</body>

</html>