<!DOCTYPE html>
<html lang="en" ng-app="contactsMgr" ng-controller="appCtrl">
<head>
  <meta charset="utf-8">
  <title>Contacts Manager</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/angular.min.js"></script>
  <script type="text/javascript" src="/assets/js/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="/assets/js/controller.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Contacts Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
            <li ng-class="pageClass('/')"><a href="/">Browse</a></li>
            <li ng-class="pageClass('/add-contact')"><a href="/add-contact">Add Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <input type="text" class="form-control" placeholder="Filter" ng-model="finder" ng-keyup="startSearch()">
        </form>
    </div>
</nav>

<div class="container">

    <ng-view></ng-view>

</div>

</body>
</html>