<div class="page-header row">
	<h1><gravatar email="{{contact.email}}" size="100" class="img-circle"></gravatar> {{contact.name}}</h1>
</div>

<div class="form-horizontal">

	<div class="row">
		<div class="col-xs-6">

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Name</label>
				<div class="col-sm-8">
					<p class="form-control-static" editable="contact.name"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Phone Number</label>
				<div class="col-sm-8">
					<p class="form-control-static" editable="contact.phone" field-type="tel"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Address</label>
				<div class="col-sm-8">
					<p class="form-control-static" editable="contact.address" field-type="textarea"></p>
				</div>
			</div>

		</div>
		<div class="col-xs-6">

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Email Address</label>
				<div class="col-sm-8">
					<p class="form-control-static" editable="contact.email" field-type="email"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Website</label>
				<div class="col-sm-8">
					<p class="form-control-static" editable="contact.website"></p>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Notes</label>
				<div class="col-sm-8">
					<p class="form-control-static" editable="contact.notes" field-type="textarea"></p>
				</div>
			</div>

		</div>
	</div>

</div>
